*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /*background-image: url("../../img/png/background-header.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center top;*/
    color: rgba(255, 255, 255, 1);
}


a{
    text-decoration: none;
}